<!doctype html>
<html lang="en" data-layout="horizontal" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
    data-sidebar-image="none" data-layout-mode="dark" data-body-image="img-1" data-preloader="true">


<!-- Mirrored from themesbrand.com/velzon/html/galaxy/pages-profile-settings.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 11 Jun 2023 16:48:40 GMT -->

<head>

    <meta charset="utf-8" />
    <title>Perla API Services | Bakiye Çek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    <!-- Layout config Js -->
    <script src="../assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="../assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="../assets/css/custom.min.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        <%- include('./Extras/header.ejs', { username: mongoData.Auth }) %>

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0">Bakiye Çek</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="/anasayfa">Perla API Services</a></li>
                                            <li class="breadcrumb-item active">Bakiye Çek</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row justify-content-center">
                            <div class="col-md-8 col-lg-6 col-xl-5">
                                <div class="card mt-4 card-bg-fill">

                                    <div class="card-body p-4">
                                        <div class="text-center mt-2">
                                            <h5 class="text-primary">P E R L A Servis</h5>
                                            <p class="text-muted">Referans bakiyenizi çekmek istiyorsanız aşağıadki şartları ve <a href="/kurallar" class="text-primary">site kurallarını</a> onayladığınızı kabul ediyorsunuz. </p>
                                        </div>
                                        <center><a style="color: #fd0000; ">Referans bakiyesinin 3/1 i çekilir bunu kabul ediyor iseniz bakiyenizi çekebilirsiniz.</a></center>
                                        <center><a style="color: #fd0000; ">NOT: Bakiye çekim işlemi için aşağıda bulunan iletişim adreslerinden bizlere ulaşın unutmayın ki çekim sonrasında kalan bakiyeniz silinecektir.</a></center>
                                        <center><a style="color: #0094fd; " href="https://t.me/perlaservis"> Telegram:  <a style="color: #e1ff00; " href="https://t.me/hosterdrake"> @hosterdrake </a>/ <a style="color: #e1ff00; " href="https://t.me/atahanyldz"> @atahanyldz</a></center>
                                        <center><a style="color: #0094fd; " href="https://discord.gg/perlaservis"> Discord:  <a style="color: #e1ff00; " href="https://discord.com/users/1156683206616174723"> hosterdrake </a>/ <a style="color: #e1ff00; " href="https://discord.com/users/1190468600436371456"> atahanyldz</a></center>
                                    </div>
                                    <!-- end card body -->
                                </div>
                                <!-- end card -->

                            </div>

                        </div>
                        <!-- container-fluid -->
                    </div><!-- End Page-content -->

                    <%- include('./Extras/footer.ejs') %>
                </div>
                <!-- end main content-->

            </div>
            <!-- END layout-wrapper -->



            <!--start back-to-top-->
            <button onclick="topFunction()" class="btn btn-primary btn-icon" id="back-to-top">
                <i class="ri-arrow-up-line"></i>
            </button>
            <!--end back-to-top-->

            <!--preloader-->
            <div id="preloader">
                <div id="status">
                    <div class="spinner-border text-primary avatar-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>

            <!-- JAVASCRIPT -->
            <script src="../assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="../assets/libs/simplebar/simplebar.min.js"></script>
            <script src="../assets/libs/node-waves/waves.min.js"></script>
            <script src="../assets/libs/feather-icons/feather.min.js"></script>
            <script src="../assets/js/pages/plugins/lord-icon-2.1.0.js"></script>

            <!-- profile-setting init js -->
            <script src="../assets/js/pages/profile-setting.init.js"></script>

            <!-- App js -->
            <script src="../assets/js/app.js"></script>
</body>


<!-- Mirrored from themesbrand.com/velzon/html/galaxy/pages-profile-settings.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 11 Jun 2023 16:48:40 GMT -->

</html>