<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
    data-sidebar-image="none" data-layout-mode="dark" data-body-image="img-1" data-preloader="true">

<head>

    <meta charset="utf-8" />
    <title>Perla API Services | Giriş</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- App favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    <!-- Layout config Js -->
    <script src="../assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="../assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="../assets/css/custom.min.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <div class="auth-page-wrapper pt-5">
        <!-- auth page content -->
        <div class="auth-page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center mt-sm-5 mb-4 text-white-50">
                            <div>
                                <a href="/anasayfa" class="d-inline-block auth-logo">
                                    <img src="../assets/images/logo-light.png" alt="" height="20">
                                </a>
                            </div>
                        </div>
                        <!-- end row -->

                        <script>
                            function checkInput(event) {
                                const inputField = event.target;
                                let inputValue = inputField.value;

                                inputValue = inputValue.toLowerCase();
                                inputField.value = inputValue;

                                const regex = /^[a-z]+$/;
                                if (!regex.test(inputValue)) {
                                    inputField.value = '';
                                }
                            }

                            function convertToLower(event) {
                                const inputField = event.target;
                                let inputValue = inputField.value;

                                inputValue = inputValue.toLowerCase();
                                inputField.value = inputValue;
                            }

                            function validateNumericInput(event) {
                                const charCode = event.which ? event.which : event.keyCode;

                                if (charCode < 48 || charCode > 57) {
                                    event.preventDefault();
                                }
                            }
                        </script>

                        <div class="row justify-content-center">
                            <div class="col-md-8 col-lg-6 col-xl-5">
                                <div class="card mt-4 card-bg-fill">

                                    <div class="card-body p-4">
                                        <div class="text-center mt-2">
                                            <h5 class="text-primary">P E R L A Servis</h5>
                                            <p class="text-muted">Giriş yapmak için auth ve şifreni gir.</p>
                                        </div>
                                        <div class="p-2 mt-4">

                                            <% if (typeof mesaj=='undefined' ) { %>
                                                <% } else if (mesaj) { %>
                                                    <div class="alert alert-danger alert-dismissible fade show"
                                                        role="alert">
                                                        <i class="mdi mdi-block-helper me-2"></i>
                                                        <strong>
                                                            <%= mesaj %>
                                                        </strong>
                                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <% } %>

                                                        <form action="/giris" method="POST">
                                                            <% if (typeof factor=='undefined' ) { %>
                                                                <div class="mb-3">
                                                                    <label for="auth" id="auth"
                                                                        class="form-label">Auth</label>
                                                                    <input type="text" class="form-control" name="auth"
                                                                        placeholder="Auth veya Mail adresinizi giriniz." required="true">
                                                                </div>

                                                                <div class="mb-3">
                                                                    <div class="float-end">
                                                                        <a href="/sifreunuttum"
                                                                            class="text-muted">Şifreni mi
                                                                            Unuttum?</a>
                                                                    </div>
                                                                    <label class="form-label"
                                                                        for="password-input">Şifre</label>
                                                                    <div
                                                                        class="position-relative auth-pass-inputgroup mb-3">
                                                                        <input type="password"
                                                                            class="form-control pe-5 password-input"
                                                                            placeholder="Şifrenizi giriniz."
                                                                            required="true" name="password"
                                                                            id="password-input">
                                                                        <button
                                                                            class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                                                                            type="button" id="password-addon"><i
                                                                                class="ri-eye-fill align-middle"></i></button>
                                                                    </div>
                                                                </div>

                                                                <div class="mb-3 form-check">
                                                                    <input type="checkbox" class="form-check-input" id="remember-me" name="hatirlat">
                                                                    <label class="form-check-label" for="remember-me">Beni Hatırla</label>
                                                                </div>

                                                                <center>
                                                                    <div class="h-captcha"
                                                                        data-sitekey="35a778aa-46e1-438f-9ed8-405e3e2b96b9">
                                                                    </div>
                                                                </center>
                                                                <% } else if (factor) { %>
                                                                    <div class="mb-3">
                                                                        <label for="factor" id="factor"
                                                                            class="form-label">2FA Kodu</label>
                                                                        <input type="text" class="form-control"
                                                                            name="factor" placeholder="2FA kod giriniz."
                                                                            oninput="validateNumericInput(event)"
                                                                            minlength="6" maxlength="6" required="true">
                                                                    </div>
                                                                    <% } %>

                                                                        <div class="mt-4">
                                                                            <button class="btn btn-primary w-100"
                                                                                type="submit">Giriş</button>
                                                                        </div>
                                                                        <div class="mt-4 text-center">
                                                                        <p class="mb-0">Kayıtlı değil misin? <a href="/kayit" class="fw-semibold text-primary text-decoration-underline">Kayıt Ol</a></p>
                                                                    </div>

                                                                    <div class="mt-4 text-center">
                                                                        <div class="signin-other-title">
                                                                            <h5 class="fs-13 mb-4 title">Diğer Oturumlar</h5>
                                                                        </div>
                                                                        <div>
                                                                            <button type="button" class="btn btn-primary btn-icon waves-effect waves-light" onclick="return window.location.href = '/oauth/discord'"><i class="ri-discord-fill fs-16"></i></button>
                                                                        </div>
                                                                    </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->

                        </div>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </div>
            <!-- end auth page content -->

            <!-- footer -->
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <p class="mb-0 text-muted">&copy;
                                    <script>document.write(new Date().getFullYear())</script> P E R L A <i
                                        class="mdi mdi-heart text-danger"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->
        </div>
        <!-- end auth-page-wrapper -->

        <!-- JAVASCRIPT -->
        <script src="https://hcaptcha.com/1/api.js?hl=tr" async defer></script>
        <script src="../assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../assets/libs/simplebar/simplebar.min.js"></script>
        <script src="../assets/libs/node-waves/waves.min.js"></script>
        <script src="../assets/libs/feather-icons/feather.min.js"></script>
        <script src="../assets/js/pages/plugins/lord-icon-2.1.0.js"></script>

        <!-- particles js -->
        <script src="../assets/libs/particles.js/particles.js"></script>
        <!-- particles app js -->
        <script src="../assets/js/pages/particles.app.js"></script>
        <!-- password-addon init -->
        <script src="../assets/js/pages/password-addon.init.js"></script>
</body>
</html>